{{ form_start(form) }}
    {{ form_widget(form) }}
    
    {% if image is defined %}
        <input type="hidden" name="nomImage" value={{image}}>
    {% endif %}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
